.btn {
    border: none;
    outline: none;
    width: 14rem;
    height: 3rem;
    padding: .3rem .7rem;
    background-color: #8DD3BB;
    color: #000;
    cursor: pointer;
}


a, button {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
