@media only screen and (max-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    body {
        padding-top: 6rem;
    }

    .website-path {
        margin-top: 1rem;
    }

    .course-header__desc {
        font-size: .75rem;
        height: 120px;
    }


}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 992px;
    }

    .course-header,
    .course-body {
        flex-direction: column;
    }
    
    .course-header__data,
    .course-header__video-wrapper,
    .course-all-info {
        width: 100%;
    }

    .corse-side {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, calc(50% - .5rem));
        gap: 1rem;
    }

    .course-information,
    .course-social-media {
        margin: 0;
        width: 100%;
    }

    .course-social-media {
        grid-column: span 2;
    }

    .course-all-info {
        padding: 1rem;
    }

    .comment {
        padding: 1.5rem .5rem;
    }
    
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    * {
        cursor: default !important;
    }

    html {
        font-size: 66.6%;
    }

    .course-information,
    .course-social-media {
        grid-column: span 2;
    }

    .comment__stars {
        display: none;
    }

    .plyr__volume input[type=range] {
        max-width: 30px;
    }

    .plyr__controls__item.plyr__control[data-plyr="pip"] {
        position: absolute;
        top: 0px;
    }

    .plyr__controls__item.plyr__control[data-plyr="fullscreen"] {
        position: absolute;
        top: -35px;
    }
}

@media only screen and (max-width: 480px) {
    .plyr__volume input[type=range] {
        min-width: 40px;
    }

    .plyr__controls__item.plyr__control[data-plyr="pip"] {
        position: absolute;
        top: -15px;
    }

    .plyr__controls__item.plyr__control[data-plyr="fullscreen"] {
        position: absolute;
        top: -50px;
    }

    .course-lesson__sec {
        width: 2.5rem;
    }

    .course-lesson__sec span {
        display: none;
    }
    
    .course-lesson {
        padding: .5rem 1rem;
    }

    .course-lesson__info svg {
        width: 15px;
        height: 15px;
    }

    .course-lesson__type {
        margin-left: 1rem;
    }
    
    .course-lesson__desc {
        font-size: .625rem;
    }

    .course-lesson__play::before,
    .course-lesson__download::before {
        display: none;
    }

    .thirs-path {
        font-size: .75rem;
    }
}

@media only screen and (max-width: 345px) {
    .course-lesson__desc {
        display: none;
    }

    .course-lesson__name {
        font-size: .625rem;
    }
}