@media only screen and (max-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 6rem;
        padding: .5rem 1rem;
        background-color: var(--white-color);
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    .navbar-menu {
        position: fixed;
        right: -100%;
        top: 0;
        bottom: 0;
        width: 18rem;
        padding: 1rem;
        background-color: var(--white-color);
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: -5px 0 25px rgba(0, 0, 0, 0.15);
        transition: all .5s;
    }

    .navbar-menu.active-navbar {
        right: 0;
    }

    .navbar__search__btn, .navbar__shop__basket__btn, .navbar-actions .navbar__darkmode__btn {
        display: none;
    }

    .navbar .open__navbar__menu__btn, .navbar > .navbar-logo-wrapper, .close__navbar__menu {
        display: flex;
    }

    .login__register__btn {
        border-radius: 10px;
        background-color: var(--green-very-low);
        color: var(--green-low);
    }
    
    .login__register__btn:hover {
        background-color: var(--green-low);
        color: #fff;
    }

    .navbar-main-menu {
        flex-direction: column;
        width: 100%;
    }

    .navbar__menu__item {
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid #6b6C771A;
    }

    .navbar__menu__item:hover svg {
        transform: rotate(0);
    }

    .navbar__menu__item svg {
        background-color: var(--green-very-low);
        width: 20px;
        height: 20px;
        padding: .2rem;
        border-radius: 50%;
        color: var(--green-low);
    }

    .navbar-menu .navbar__darkmode__btn {
        display: flex;
        align-self: flex-end;
    }


    .navbar-sub-menu {
        flex-direction: column;
        width: 100%;
    }

    .header-content {
        margin-top: 8rem;
    }

    .grouping-courses-slider {
        width: 100%;
    }

    .user__comment__desc {
        font-size: 0.875rem;
    }

    .footer-concept-texts {
        max-width: 30%;
    }

    .footer__concept__desc, .footer__list__item {
        font-size: 0.75rem;
    }

    .footer-list-head {
        font-size: .875rem;
    }

    .last-articles-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 992px;
    }

    .header-content {
        width: 80%;
    }

    .header__main__title, .header__main__subtitle {
        font-size: 1.5rem;
    }

    .header-peresent-items {
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: repeat(2, 8rem);
        gap: 1;
    }

    .peresent-item {
        border-radius: 12px !important;
    }

    .lastest__courses__header__title__fa, .lastest__courses__header__title__en, .lastest__courses__header__btn {
        font-size: 0.75rem;
    }

    .lastest-courses-slider-slide, .user-comments {
        flex-direction: column;
    }

    .lastest-courses-cover-wrapper, .lastest-courses-slider-slide-items {
        width: 100%;
    }

    .content-methods {
        gap: 2rem;
    }

    .content__title, .content__email, .content__phone, .footer__save__info {
        font-size: .75rem;
    }

    .social__media__item {
        width: 2.5rem;
        height: 2.5rem;
    }

    .social__media__item svg {
        width: 15px;
    }
    
    .user-comments-slider {
        width: 35rem;
    }

    .footer-concepts {
        flex-direction: column;
    }

    .footer-concept-links, .footer-concept-texts {
        max-width: 100%;
    }
    
    
    .svg-top {
        height: 7rem;
     }

    .content-section {
        gap: 1.5rem;
        flex-direction: column;
    }

    .content-email-wrapper svg, .content-phone-wrapper svg {
        width: 22px;
        height: 22px;
    }

    .footer-social {
        flex-direction: column;
    }
    
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    * {
        cursor: default !important;
    }

    html {
        font-size: 66.6%;
    }

    .navbar__logo {
        width: 70%;
    }

    .content-section {
        gap: 0;
    }

    .content-email-wrapper svg, .content-phone-wrapper svg {
        width: 15px;
        height: 15px;
    }

    .content-title-wrapper svg {
        width: 20px;
        height: 20px;
    }

    .content-methods {
        margin-top: 1rem;
    }

    .lastest-courses-slider-box {
        grid-column: span 2;
    }

    .lastest-courses-slider-infos {
        grid-template-rows: repeat(3, 50px);
        grid-auto-rows: 50px;
    }

    .user__comment__icon svg {
        width: 30px;
        height: 30px;
    }

    .user-comments-slider {
        width: 90%;
    }

    .social__media__item svg {
        width: 12px;
        height: 12px;
    }

    .peresent__item__title__number {
        font-size: 1rem;
    }
}
