@font-face {
    font-family: "iyekan regular";
    font-style: normal;
    font-weight: normal;
    src: local("iranYekan Regular"),
        url("/fonts/iranyekan/woff/iranyekanwebregularfanum.woff") format("woff"),
        url("/fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}

@font-face {
    font-family: "iyekan medium";
    font-style: normal;
    font-weight: normal;
    src: local("iranYekan Medium"),
        url("/fonts/iranyekan/woff/iranyekanwebmediumfanum.woff") format("woff"),
        url("/fonts/iranyekan/ttf/iranyekanwebmediumfanum.ttf") format("truetype");
}

@font-face {
    font-family: "iyekan light";
    font-style: normal;
    font-weight: normal;
    src: local("iranYekan light"),
        url("/fonts/iranyekan/woff/iranyekanweblightfanum.woff") format("woff"),
        url("/fonts/iranyekan/ttf/iranyekanweblightfanum.ttf") format("truetype");
}

@font-face {
    font-family: "iyekan bold";
    font-style: normal;
    font-weight: normal;
    src: local("iranYekan bold"),
        url("/fonts/iranyekan/woff/iranyekanwebextraboldfanum.woff") format("woff"),
        url("/fonts/iranyekan/ttf/iranyekanwebextraboldfanum.ttf") format("truetype");
}

@font-face {
    font-family: "morabba bold";
    font-style: normal;
    font-weight: normal;
    src: local("morabba bold"),
        url("/fonts/morabba/woff/Morabba-Bold.woff") format("woff"),
        url("/fonts/morabba/woff2/Morabba-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "morabba Ebold";
    font-style: normal;
    font-weight: normal;
    src: local("morabba Ebold"),
        url("/fonts/morabba/woff/Morabba-ExtraBold.woff") format("woff"),
        url("/fonts/morabba/woff2/Morabba-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "morabba medium";
    font-style: normal;
    font-weight: normal;
    src: local("morabba medium"),
        url("/fonts/morabba/woff/Morabba-Medium.woff") format("woff"),
        url("/fonts/morabba/woff2/Morabba-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "morabba regular";
    font-style: normal;
    font-weight: normal;
    src: local("morabba regular"),
        url("/fonts/morabba/woff/Morabba-Regular.woff") format("woff"),
        url("/fonts/morabba/woff2/Morabba-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "montserrat regular";
    font-style: normal;
    font-weight: normal;
    src: local("montserrat regular"),
        url("/fonts/montserrat/Montserrat-Regular.woff") format("woff");
}
